{{define "display"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/display.css">
</head>
<body>
    <section>
        <div>
            <p><strong>Vos donnée personnelles</strong></p>
        </div>
        <div>
            <p>Nom</p>{{.Lastname}}
            <p>Prénom</p>{{.Firstname}}
            <p>Date de naissance</p>{{.Birthday}}
            <p>Sexe</p>{{.Sexe}}
        </div>
    </section>
</body>
</html>
{{end}}